.header{
    height: 60px;
   
    background-color: rgb(0, 106, 133);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
  
    
    

}


.header img{
    margin-left: 10%;
}






.nav{
    margin-right: 15%;
}

.nav a{
    color: white;
    font-size: larger;
    margin-left: 40px;
    text-decoration: none;
}
.nav a:active{

    animation: b1;
    animation-duration: .2s;
    
    
}
@keyframes b1 {
    from{ color: rgb(12, 23, 43);}
    to{ color: rgb(0, 110, 33); }    
    
}
.nav a:hover{

    color:rgb(0, 43, 99);
    
    
}